/**************

FONTY

**************/

@font-face {
    font-family: "lig";
    src: url("../fonts/Lato-Light.ttf");
}

@font-face {
    font-family: "reg";
    src: url("../fonts/Lato-Regular.ttf");
}

@font-face {
    font-family: "med";
    src: url("../fonts/Lato-Medium.ttf");
}

@font-face {
    font-family: "hea";
    src: url("../fonts/Lato-Heavy.ttf");
}

@font-face {
    font-family: "bol";
    src: url("../fonts/Lato-Bold.ttf");
}

@font-face {
    font-family: "bla";
    src: url("../fonts/Lato-Black.ttf");
}

/**************

OBECNÉ

**************/


h1, h2, h3, h4, h5, p, span {
  font-weight: normal !important;
}

html {

}

body {
  width: 1200px;
  position: relative;
  font-family: reg;
  margin: 0 auto;
  overflow-y:hidden;
}

/**************

HOME PAGE

**************/

/**************

BUBLINY

**************/

.bubliny {
  position: absolute;
  width: 50%;
  top: calc(50% - 465px);
  -webkit-transition: top 2s;
  transition: top 2s;
}

.bublina {
  display: inline-block;
  width: calc(510px - 30px*2);
  height: calc(290px - 30px*2);
  position: relative;
  background: #FFFFFF;
  box-shadow: 2px 4px 20px 0 rgba(0,0,0,0.18);
  border-radius: 25px;
  margin: 15px 30px;
  padding: 30px;
  padding-top: 20px;
}

.bublina p {
  font-family: med;
  color: #6D6D6D;
  margin: 0;
  font-size: 16px;
}

.bublina h3 {
  color: #6D6D6D;
  margin-top: 0;
  font-size: 22px;
  margin-bottom: 16px;
}

.mlzeni {
  width: 700px;
  height: 150px;
  position: absolute;
  left: 0;
  z-index: 50;
}

.mlzeni:first-child {
  top: 0;
  background: rgba(255,255,255,1);
  background: -moz-linear-gradient(top, rgba(255,255,255,1) 34%, rgba(255,255,255,1) 50%, rgba(255,255,255,0) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(34%, rgba(255,255,255,1)), color-stop(50%, rgba(255,255,255,1)), color-stop(100%, rgba(255,255,255,0)));
  background: -webkit-linear-gradient(top, rgba(255,255,255,1) 34%, rgba(255,255,255,1) 50%, rgba(255,255,255,0) 100%);
  background: -o-linear-gradient(top, rgba(255,255,255,1) 34%, rgba(255,255,255,1) 50%, rgba(255,255,255,0) 100%);
  background: -ms-linear-gradient(top, rgba(255,255,255,1) 34%, rgba(255,255,255,1) 50%, rgba(255,255,255,0) 100%);
  background: linear-gradient(to bottom, rgba(255,255,255,1) 34%, rgba(255,255,255,1) 50%, rgba(255,255,255,0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=0 );
}

.mlzeni:last-child {
  bottom: 0;
  background: rgba(255,255,255,0);
  background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.48) 30%, rgba(255,255,255,1) 63%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,0)), color-stop(30%, rgba(255,255,255,0.48)), color-stop(63%, rgba(255,255,255,1)));
  background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.48) 30%, rgba(255,255,255,1) 63%);
  background: -o-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.48) 30%, rgba(255,255,255,1) 63%);
  background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.48) 30%, rgba(255,255,255,1) 63%);
  background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,0.48) 30%, rgba(255,255,255,1) 63%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=0 );
}

.leva {
  width: calc(50% - 30px);
  position: absolute;
  left: 30px;
}

.historie {
  background: url("../img/historie/historie-01.jpg") !important;
  background-size: cover !important;
}

.okoli {
  background: url("../img/okoli/sumava-01.jpg") !important;
  background-size: cover !important;
}

.ubytovani {
  background: url("../img/obrazky/min/IMG_5766-min.JPG") !important;
  background-size: cover !important;
}

.obrazek {
  background: url("../img/img.jpg");
  background-size: cover;
  background-position: center;
  height: 115px;
  width: 200px;
  border-radius: 20px;
  box-shadow: 0 1px 20px 0 rgba(0,0,0,0.20);
  margin-bottom: 45px;
}

.viceInfo {
  background: #F35C6C;
  border-radius: 85px;
  font-family: hea;
  font-size: 15px;
  padding: 13px 17px;
  color: #FFFFFF;
  text-decoration: none;
}

.tocak {
  width: 300px;
  height: 100vh;
}

/**************

PRAVO

**************/

.prava {
  width: calc(50% - 30px);
  position: absolute;
  right: 30px;
}

.prava span {
  font-size: 21px;
  color: #6D6D6D;
}

.prava1 {
  padding-bottom: 20px;
}

.prava2 {
  padding-top: 20px;
}

.prava .cer {
  color: #F8747F;
  font-family: bol;
}

.hlavni {
  width: 518px;
  height: 100vh;
  display: inline-block;
  position: absolute;
  right: -18px;
  top: 0;
  z-index: 100;
  overflow-y: scroll;
  overflow-x: hidden;
  padding-right: 18px;
}

.nemitScrollbar {
  overflow: hidden;
  width: 500px;
  position: absolute;
  right: 50px;
  top: 0;
  height: 100vh;
}

.hlavni h1 {
  font-size: 80px;
  font-family: med;
  color: #494949;
  text-align: right;
  margin-bottom: 15px;
}

.hlavni p {
  color: #494949;
  text-align: right;
  margin-top: 130px;
  font-size: 18px;
  width: 440px;
  position: relative;
  right: -75px;
}

.cena {
  background: #5399F7;
  display: inline-block;
  padding: 13px 20px;
  border-radius: 15px;
  font-size: 35px;
  color: white;
  float: right;
  font-family: med;
}

.cena span:last-child {
  font-family: med;
  font-size: 24px;
  position: relative;
  top: -4px;
}

.cena span:first-child {
  font-family: lig;
  font-size: 20px;
  position: relative;
  top: -6px;
}

.menu {
  width: 350px;
  float: right;
  padding-bottom: 100px;
}

.menu ul {
  padding: 0;
  list-style: none;
}

.menu a {
  text-decoration: none;
  display: inline-block;
  color: #fff;
  font-family: bla;
  padding: 16px 25px;
  font-size: 18px;
  border-radius: 15px;
  margin: 6px;
  float: right;
}

.uby {
  background: #F35C6C;
}

.oko {
  background: #5399F7;
}

.spor {
  background: #34E5AE;
}

.kon {
  background: #4CD8DB;
}

.gal {
  background: #FFC360;
}

.his {
  background: #D483E5;
}

/**************

GALERIE

**************/

.body2 {
  margin: 0;
  width: 100%;
  height: 100vh;
}

/**************

DOLNI MENU

**************/

footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  border-top: 1px solid #979797;
  height: 99px;
  float: left;
  background: #fff;
  z-index: 10;
}

footer a {
  text-decoration: none;
  display: inline-block;
  color: #fff;
  font-family: bla;
  padding: 16px 25px;
  font-size: 18px;
  border-radius: 15px;
  margin: 6px;
}

footer a:first-child {
  margin-left: 20px;
}

footer ul {
  padding: 0;
}

footer li {
  list-style: none;
}

/**************

CONTENT

**************/

.body2 {
  min-width: 900px;
}

.body2Inner {
  width: 900px;
  margin: 0 auto;
  position: relative;
}

.body2InnerG {
  width: 1100px;
}

.body2 h1 {
  font-size: 80px;
  font-family: med;
  color: #494949;
  text-align: right;
  margin-bottom: 15px;
  margin-top: 0;
  padding-top: 30px;
  padding-right: 50px;
}

.obrazky {
  width: calc(100% + 18px);
  right: -18px;
  margin: 0 auto;
  text-align: center;
  height: 100%;
  overflow-y: scroll;
}

.Gobrazek {
  box-shadow: 3px 2px 20px 0 rgba(0,0,0,0.20);
  height: 170px;
  border-radius: 25px;
  margin: 30px;
  display: inline-block;
  width: 214px;
}

.Gobrazek:nth-last-child(1) {
  margin-bottom: 100px;
}
/*
.Gobrazek:nth-last-child(2) {
  margin-bottom: 100px;
}

.Gobrazek:nth-last-child(3) {
  margin-bottom: 100px;
}
*/
.obrazekWrap {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  height: 170px;
}

.Gobrazek img {
  padding: 0 20px;
  max-height: 130px;
  vertical-align: middle;
  max-width: 80%;
}

.mlzeniD {
  position: absolute;
  bottom: 0;
  z-index: 50;
  width: 100%;
  height: 100px;
  background: rgba(255,255,255,0);
  background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.48) 30%, rgba(255,255,255,1) 63%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,0)), color-stop(30%, rgba(255,255,255,0.48)), color-stop(63%, rgba(255,255,255,1)));
  background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.48) 30%, rgba(255,255,255,1) 63%);
  background: -o-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.48) 30%, rgba(255,255,255,1) 63%);
  background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.48) 30%, rgba(255,255,255,1) 63%);
  background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,0.48) 30%, rgba(255,255,255,1) 63%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=0 );
}

.obrazkyWrap {
  position: relative;
  /*width: calc(100% - 150px);*/
  margin: 0 auto;
  text-align: center;
  height: calc(100vh - 241px);
  overflow: hidden;
}

/**************

slider

**************/

.slider {
  z-index:  1111;
  max-width: 80%;
  width: 600px;
  height: 500px;
  background: #fff;
  border-radius: 50px;
  -webkit-box-shadow: 0px 0px 127px 0px rgba(0,0,0,0.4);
  -moz-box-shadow: 0px 0px 127px 0px rgba(0,0,0,0.4);
  box-shadow: 0px 0px 127px 0px rgba(0,0,0,0.4);
  position: absolute;
  top: calc(100vh/2 - 250px);
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  display: none;
}

.lista {
  margin: 0 auto;
  width: 80%;
  height: 30px;
  padding-bottom: 20px;
  position: relative;
  padding-bottom: 0;
}

.lista a {
  display: inline-block;
  position: absolute;
  top: 0;
}

.lista a:first-child {
  left: 0;
}

.lista a:last-child {
  right: 0;
  text-align: right;
}

.lista p {
  display: block;
  width: 100%;
  text-align: center;
}

.obraz {
  width: 90%;
  margin: 0 auto;
  height: calc(100% - 85px);
  background: url("../img/obrazky/test.png");
  background-repeat: no-repeat !important;
  background-size: contain !important;
  background-position: center !important;
}

.slider span:last-child {
  position: absolute;
  bottom: 15px;
  width: 100%;
  text-align: center;
}

/**************

textik

**************/

/**************

obecne

**************/

.body3 .obrazkyWrap {
  position: absolute;
  right: 30px;
  width: 555px;
  text-align: center;
  height: calc(100vh - 241px);
  overflow: hidden;
}

.textovaCast {
  width: calc(100% + 18px);
  height: 100vh;
  display: inline-block;
  position: absolute;
  right: -18px;
  top: 0;
  z-index: 100;
  overflow-y: scroll;
  overflow-x: hidden;
}

.textovaCastWrap {
  overflow: hidden;
  width: 40%;
  max-width: 800px;
  position: absolute;
  left: 70px;
  top: 150px;
  height: calc(100vh - 270px);
  z-index: 1;
}

.textovaCast p {
  margin-bottom: 350px;
  color: #494949;
  font-size: 20px;
}

.body3 .body2Inner {
  width: 1200px;
}

/**************

kontakt

**************/

/**************

obecne

**************/

.body4 iframe {
  -webkit-box-shadow: 0px 0px 127px 0px rgba(0,0,0,0.4);
  -moz-box-shadow: 0px 0px 127px 0px rgba(0,0,0,0.4);
  box-shadow: 0px 0px 127px 0px rgba(0,0,0,0.4);
  position: absolute;
  left: 30px;
  margin-top: 40px;
  margin-bottom: 200px;
}

.body4 {
  overflow-y: scroll;
}

.body4 footer {
  position: fixed;
}

.body4 .body2Inner {
  width: 1100px;
}

.kontakty {
  margin-top: 40px;
  position: absolute;
  right: 0px;
  width: 450px;
}

.kontakty span {
  display: block;
  font-family: bol;
  font-size: 21px;
  margin-bottom: 1px;
}

.kontakty div {
  margin-bottom: 40px;
}

.kontakty a {
  color: #494949;
  font-size: 29px;
  text-decoration: none;
}

.kontakty p {
  color: #494949;
  font-size: 29px;
  margin-top: 5px;
  line-height: 40px;
}

.email span {
  color: #5399F7;
}

.telefon span {
  color: #D483E4;
}

.adresa span {
  color: #34E5AE;
}

.textikk .mlzeniD {
  bottom: 100px;
}

.textikk p {
  margin-bottom: 20px;
  margin-top: 0;
}

.textikk p:last-child {
  margin-bottom: 350px;
  margin-top: 0;
}

.textikk .textovaCast ul:last-child {
  margin-bottom: 350px;
}

.textikk h4 {
  font-family: bol;
  font-size: 28px;
  color: #494949;
}

.textikk .textovaCast li {
  color: #494949;
  font-size: 20px;
}

.textikk h3 {
  font-family: bol;
  font-size: 30px;
  color: #494949;
  margin-bottom: 20px;
  margin-top: 60px;
}

.textikk h2 {
  font-family: bol;
  font-size: 38px;
  color: #494949;
  margin-bottom: 20px;
  margin-top: 60px;
}

.textikk .textovaCast a {
  color: #5399F7;
}

.textikk .textovaCast a:focus {
  color: #5399F7;
}

.textikk .textovaCast a:active {
  color: #5399F7;
}

.bold {
  font-family: bol;
}

.cenik {
  width: 90%;
}

.sportazabava {
  width: 100%;
  max-width: 1050px;
}

.textikk .Gobrazek:last-child {
  margin-bottom: 30px;
}

.historiee .Gobrazek:last-child {
  margin-bottom: 100px;
}

.okolii .Gobrazek:last-child {
  margin-bottom: 100px;
}

.okolii .Gobrazek:nth-last-child(2) {
  margin-bottom: 100px;
}

.ubytovanii .Gobrazek:last-child {
  margin-bottom: 100px;
}
